*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   color: white;
}

input{
     outline: none; 
     padding-left: 10px;
    border-radius: 5px;
    font-size: larger;

}
.in{
    margin: 50px;
}
.ft{
   margin: auto;
}
.submit{
    margin-top: 30px;
}
.out{
    padding-top: 20px;
    font-size: 1.5rem;
}
.out-2{
  
    margin: 30px auto ;
    max-width: 600px;
      display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.toster{
    position: absolute;
    display: flex;
  
    align-items: center;
    height: 50px;
    margin:  5px;
    width: 200px;
    border-radius: 8px;
    background: #000000d0;
    top: 0;
    right: 3px;
    text-align: center;
     


}
.hide{
  display: none;
}
.toster p{
      color: rgb(255, 255, 255) ;
      font-weight: bolder;
      padding-left:7px ;
      font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}